
/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

p{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

img{
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 50%;
}

@media (max-width: 700px){
    img{
        height: 70%;
    }
}

h2{
    text-align: center;
    font-size: 3em;
}

#IMGWITHTEXT{
    display: flex;

}