
/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;

}



p{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}



#HeadCont {
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(250, 250, 250);
    top: 0;
    padding: 1rem; 
}

img{
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 100%;
}

@media (max-width: 800px){
    #TextNextToImg{
        font-size: 0.6em;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    img{
        width: 50%;
    }
}

h2{
    text-align: center;
    font-size: 3em;
}

#IMGWITHTEXT{
    display: flex;

}

#Main{

}



