body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

p {
    padding: 2rem 5rem;
    text-align: center;
}

h1{
    text-align: center;
}

#HeadCont {
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

img {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 50%;
 
}

@media (max-width: 800px) {
    p {
        padding: 2rem;
    }

    img {
        width: 50%;
    }
}

h2 {
    text-align: center;
    font-size: 3em;

}

#IMGWITHTEXT {
    display: flex;

}

#Main {
    margin-top: 10rem;

}

a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for link color */
}

a:hover {
    color: #555; /* Darken link color on hover */
    text-decoration: underline;
}
