body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

p {
    padding: 2rem 5rem;
    text-align: center;
}

h1{
    text-align: center;
}

#HeadCont {
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    z-index: 1;
}

img {
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 100%;
 
}

p{
    padding-top: 5rem;
}
@media (max-width: 800px) {
    p {
        padding: 2rem;
        font-size: 1rem;
    }

    img {
        width: 50%;
    }

    
}

@media (max-width: 600px) {
    p {
        padding: 1rem;
        font-size: 0.7rem;
    }

    img {
        width: 50%;
    }

    h2 {
        font-size: 2rem;
    }

    a {
        font-size: 0.9rem;
        margin-left: 0.3rem;
    }
}

@media (max-width: 500px) {

    a {
        font-size: 0.7rem;
        
    }
}




h3{
    text-align: center;
    font-size: 3rem;
}

#IMGWITHTEXT {
    display: flex;
    align-items: center;
}

#Main {
    margin-top: 10rem;

}

a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for link color */
    margin-left: 2rem;
    justify-content: space-between;
}

a:hover {
    color: #555; /* Darken link color on hover */
    text-decoration: underline;
}

h2 {
    font-size: 3rem;
    position: absolute;
    top: 10%; /* Adjust the top value to position it where you want */
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 800px) {

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {

    h2 {
        font-size: 1rem;
    }

}

#mpic{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}


#Title{
    text-align: center;
    position: relative;
}

form{
    margin-top: 5rem;
}

button {

    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2980b9;
  }


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}


#HeadCont2 {
 
    background-color: #fafafa;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

#Pics{
    padding: 5rem;
    display: flex;
    justify-content: center;
}